## Populate this file and move it to `.env` to run tests
## See also usage of `.creds.js` in docs/ folder.

## Defaults
WRMS_URL=https://wrms.example.com
WRMS_EXTRA_COOKIES="csrf_token=ABCDEF; PHPSESSID=123456; sid=123ABC"
WRMS_USERNAME=yourusername
WRMS_PASSWORD=yourpassword
WRMS_TEST_USER_MAIL=null@example.com
WRMS_TEST_SEARCH_STRING="wrms"
WRMS_TEST_WR_SEARCH_TERM="hapax legomenon"
WRMS_TEST_WR_ID=123456
WRMS_TEST_PARENT_ID=234567
WRMS_TEST_WR_SUBJECT="test ticket"

## UAT (overrides)
#WRMS_URL=https://wrms2-uat.example.org
#WRMS_EXTRA_COOKIES="csrf_token=ABCDEF; PHPSESSID=123456; sid=123ABC"
#WRMS_TEST_WR_SEARCH_TERM="quincunx"
#WRMS_TEST_PARENT_ID=123456
